<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1" />
<title>Purple Monkey Game Jam - Archive - <%=: title %></title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<link rel="stylesheet" type="text/css" href="/css/archive.css">
<link rel="image_src" href="http://archive.purplemonkeygamejam.com/images/monkey.png">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="purplemonkeygj">
<meta name="twitter:title" content="Purple Monkey Game Jam{% if page.title %} &mdash; {{page.title}}{% endif %}">

<meta name="twitter:description" content="Archive of all previous game jam submissions.">

<meta name="twitter:creator" content="purplemonkeygj">
<meta name="twitter:image:src" content="http://archive.purplemonkeygamejam.com/images/monkey.png">
<meta name="twitter:domain" content="http://archive.purplemonkeygamejam.com/">

</head>

<body>

<div class="nav">

    <a href="#nav" class="pancake">☰</a>

    <ul>

        <li><a href="https://www.eventbrite.com/e/purple-monkey-game-jam-iv-a-new-hope-tickets-11432933211">Register Now!</a></li>
        <li><a href="http://purplemonkeygamejam.com/theme-submission/">Theme Submission</a></li>
        <li><a href="http://purplemonkeygamejam.com/blog">Blog</a></li>
        <li><a href="http://purplemonkeygamejam.com/getting-started">Getting Started</a></li>
        <li><a href="http://purplemonkeygamejam.com/harassment-policy">Harassment Policy</a></li>
        <li><a href="http://purplemonkeygamejam.com/sponsors">Sponsors</a></li>

    </ul>

</div>

<div class="header">

    <h1 class="logo"><a href="/">Purple Monkey Game Jam</a></h1>

    <h2 class="month">Archive</h2>

    <% if (title) { %>
    <p class="date"><i><%=: title %></i></p>
    <% } %>

</div>

<div class="content">
